<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceWeekDay" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6827/ServiceWeekDay.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWeekDay"
                contract="ServiceReferenceWeekDay.IServiceWeekDay" name="BasicHttpBinding_IServiceWeekDay" />
        </client>
    </system.serviceModel>
</configuration>